#minesweeprt{
  margin:50px auto;
}

#minesweeper .menu {
  text-align: center;
  margin-bottom:10px
}

#minesweeper .menu button{
  border:none;
  outline: none;
  cursor: pointer;
  background-color: #02a4ad;
  color:#fff;
  border-radius: 3px;
  padding:5px 15px;
}

#minesweeper .menu .active{
  background-color:#00abff ;
}

#minesweeper .game-zone table{
  border-spacing: 1px;
  background-color: #929196;
  margin:0px auto;
}

#minesweeper .game-zone td {
  height: 20px;
  width: 20px;
  border: 2px solid;
  padding: 0px;
  background-color: #ccc;
  border-color: #fff #a1a1a1 #a1a1a1 #fff;
  text-align: center;
  font-weight: bolder;
  line-height: 20px;
}
#minesweeper .game-zone td.mine{
  background: #d9d9d9 url(../images/mine.png) no-repeat center;
  background-size:cover;
}

#minesweeper .game-zone td.flag{
  background: #d9d9d9 url(../images/flag.png) no-repeat center;
  background-size:cover;
}

#minesweeper .game-zone td.zero{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
}

#minesweeper .game-zone td.one{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#0332fe;
}

#minesweeper .game-zone td.two{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#019f02;
}

#minesweeper .game-zone td.three{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#ff2600;
}

#minesweeper .game-zone td.four{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#93208f;
}

#minesweeper .game-zone td.five{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#ff7f29;
}

#minesweeper .game-zone td.six{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#ff3fff;
}

#minesweeper .game-zone td.seven{
  border-color:#d9d9d9;
  background-color: #d9d9d9;
  color:#3fffbf;
}

#minesweeper .remaining{
  text-align: center;
  margin-top:10px;
}
